
# BACKEND
lior-backend/HELP.md
lior-backend/target
!lior-backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
lior-backend/.apt_generated
lior-backend/.classpath
lior-backend/.factorypath
lior-backend/.project
lior-backend/.settings
lior-backend/.springBeans
lior-backend/.sts4-cache

### VS Code ###
lior-backend/.vscode/


#FRONTEND
# compiled output
lior-frontend/dist
lior-frontend/tmp
lior-frontend/out-tsc

# dependencies
lior-frontend/node_modules