./backend/HELP.md
./backend/target/
!./backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
./backend/.apt_generated
./backend/.classpath
./backend/.factorypath
./backend/.project
./backend/.settings
./backend/.springBeans
./backend/.sts4-cache

### VS Code ###
./backend/.vscode/
